<a name="cfp"></a>
<section class="alpha_24">
    <div class="container group">
        <div class="column_6 centered">
            <a name="workshop"></a>
            <h3 class="center">Il workshop</h3>
            <p>
                Durante il workshop verranno presentate slide ed esercizi su argomenti avanzati: demo da istanze AWS
                (swarm e overlay inclusi) con immagini basate su alpine (che non è una marca di birra) incluse le nuove
                features di sicurezza e data volume.
            </p>
            <h4>Prerequisiti</h4>
            <p>
                È richiesta familiarità con gli ambienti UN*X sia per quanto concerne i concetti
                di funzionamento (servizi, permessi, filesystem, ...) sia per l'utilizzo dell'ambiente a riga di
                comando.
                <br/>
                È necessario avere il proprio portatile con una VM ubuntu 14.04 con docker installato (seguendo la
                <a href="https://docs.docker.com/engine/installation/" target="_blank">procedura online</a> in modo da
                avere l'ultima release disponibile). Docker consiglia ubuntu per il supporto nativo ad aufs.
            </p>

            <h4>Programma</h4>
            <p>
                Il workshop si svolgerà <strong>dalle 10:00 alle 18:00</strong> presso il <strong>centro congressi dell'Hotel
                San Marco</strong> in Via Baldassarre Longhena 42 (la stessa sede della conferenza).
            </p>
            <ul>
                <li>
                    Intro to containers
                    <ul>
                        <li>Containers vs virtualization</li>
                        <li>Containers for isolation</li>
                        <li>Shipping containers</li>
                    </ul>
                </li>
                <li>
                    Docker, containers and images
                    <ul>
                        <li>Running and managing containers</li>
                        <li>Building images</li>
                        <li>Managing and distributing images</li>
                    </ul>
                </li>
                <li>
                    Dockerfile: FROM, RUN, ADD, ENV...
                </li>
                <li>
                    Container and service?
                </li>
                <li>
                    Volumes and data volumes
                    <ul>
                        <li>Bind and managed</li>
                        <li>Link</li>
                        <li>Demo (AWS)</li>
                    </ul>
                </li>
                <li>
                    Networking
                    <ul>
                        <li>Four network archetypes</li>
                        <li>Overlay and consul</li>
                        <li>Demo (AWS)</li>
                    </ul>
                </li>
                <li>
                    Manage resources
                    <ul>
                        <li>Memory limits, CPU, Access to devices</li>
                        <li>Seccomp</li>
                        <li>Demo (AWS)</li>
                    </ul>
                </li>
                <li>
                    Clustering and orchestrator: swarm
                    <ul>
                        <li>Demo (AWS)</li>
                        <li>Policy and filter</li>
                        <li>Swarm and overay</li>
                    </ul>
                </li>
                <li>
                    Host distribution: machine
                    <ul>
                        <li>Demo (AWS)</li>
                    </ul>
                </li>
                <li>
                    Manage complex architecture: compose
                    <ul>
                        <li>Demo (AWS)</li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="clear"></div>
    </div>
    <div class="separator"></div>
</section>
