<a name="info"></a>
<section class="alpha_24">
    <div class="container group">

        <div class="column_6 centered">
            <h3 class="center">La conferenza</h3>

            <p>
                <a href="http://www.docker.com" target="_blank">Docker</a> è un sistema software che permette di
                automatizzare il deploy di applicazioni all'interno di container che condividono gran parte delle
                risorse della macchina host Linux, rendendola una soluzione molto più leggera della consueta
                virtualizzazione.
                Il Container Day 2017 è interamente focalizzato su Docker.
            </p>

            <p>
                La conferenza sarà divisa in due momenti:
            <ul>
                <li>
                    <strong>27 Aprile</strong>: workshop tenuto da trainer Kiratech.
                    {% if page.workshop %}.
                        <a href="#workshop">Vedi il programma</a>.
                    {% endif %}
                </li>
                <li><strong>28 Aprile</strong>: conferenza con argomenti di livello medio/avanzato</li>
            </ul>
            </p>

            <p>
                La conferenza è organizzata dal <a href="http://www.grusp.org">GrUSP</a>
                e da <a href="http://www.kiratech.it">Kiratech</a>
            </p>

            <p>
                Per rimanere informato <a href="http://eepurl.com/rCZZT" target="_blank">iscriviti alla nostra
                newsletter</a>.
            </p>
        </div>


        <div class="clear"></div>
    </div>
    <div class="separator"></div>
</section>
