<section class="sponsors">
  <a name="sponsor"></a>
  <div class="container group">

<div class="container group">

{% if page.cfs %}

    <div class="column_6 centered">
      <h3 class="center">Sponsorizza</h3>
      <p>
        Contribuendo alla conferenza otterrai <strong>visibilità</strong> esattamente presso le persone che vorresti
        contattare: i <strong>devOps</strong>! <br>
        Cerchi <strong>collaboratori</strong>? Vuoi <strong>promuovere</strong> una tecnologia o un servizio? Stai
        organizzando un <strong>corso</strong> e ti servono <strong>docenti</strong>? O vuoi farlo conoscere a
        potenziali <strong>studenti</strong>?<br>
        <br>
        <a href="mailto:info@grusp.org">Contattaci</a> per sapere come metterti in mostra al Container Day.
      </p>
    </div>
    <div class="clear"></div>

    <div class="column_6 centered">
      <h4 class="main">Main sponsor</h4>
      <p>Il main sponsor sarà uno solo per conferenza ed avrà la possibilità di avere un banchetto indipendente per pubblicizzarsi</p>
        <span class="euro btn">€ 5.000</span>
      <ul class="benefit">
        <li>Banner sul sito</li>
        <li>Possibilità di tenere un talk <strong>tecnico</strong> (sono escluse le tematiche commerciali).<br>Il talk dovrà essere preapprovato dagli organizzatori.</li>
        <li>Pubblicità nelle comunicazioni pre-evento</li>
        <li>Autorizzazione a portare pubblicità e gadget (volantini, adesivi, magliette)</li>
        <li>Presenza logo sul programma stampato</li>
        <li>Posizionamento del vostro roll-up nella sala</li>
        <li>5 biglietti gratuiti</li>
        <li><strong>Banchetto principale 2m x 1m in sala o nella hall</strong></li>
      </ul>
    </div>
    <div class="clear"></div>

    <div class="column_6 centered">
      <h4 class="platinum">Platinum sponsor</h4>
      <p>Un solo sponsor Platinum è ammesso per conferenza, ed avrà la possibilità di avere un banchetto indipendente per pubblicizzarsi</p>
        <span class="euro btn">€ 3.000</span>
      <ul class="benefit">
        <li>Banner sul sito</li>
        <li>Pubblicità nelle comunicazioni pre-evento</li>
        <li>Autorizzazione a portare pubblicità e gadget (volantini, adesivi, magliette)</li>
        <li>Presenza logo sul programma stampato</li>
        <li>Posizionamento del vostro roll-up nella sala</li>
        <li>4 biglietti gratuiti</li>
        <li><strong>Banchetto 1m x 1m in sala o nella hall</strong></li>
      </ul>
    </div>
    <div class="clear"></div>

    <div class="column_4">
      <h4 class="gold">Gold</h4>
      <span class="euro btn">€ 1.000</span>
      <ul class="benefit">
        <li>Banner sul sito</li>
        <li>Pubblicità nelle comunicazioni pre-evento</li>
        <li>Autorizzazione a portare pubblicità e gadget (ie. volantini, adesivi, magliette)</li>
        <li>Presenza logo sul programma stampato</li>
        <li>Posizionamento del vostro roll-up nella sala</li>
        <li>3 biglietti gratuiti</li>
      </ul>
    </div>

    <div class="column_4">
      <h4 class="silver">Silver</h4>
      <span class="euro btn">€ 500</span>
      <ul class="benefit">
        <li>Banner sul sito</li>
        <li>Pubblicità nelle comunicazioni pre-evento</li>
        <li>Autorizzazione a portare pubblicità e gadget (ie. volantini, adesivi, magliette)</li>
        <li>Presenza logo sul programma stampato</li>
        <li>2 biglietti gratuiti</li>
      </ul>
    </div>

    <div class="column_4">
      <h4 class="bronze">Bronze</h4>
      <span class="euro btn">€ 300</span>
      <ul class="benefit">
        <li>Banner sul sito</li>
        <li>Autorizzazione a portare pubblicità e gadget (ie. volantini, adesivi, magliette)</li>
        <li>1 biglietto gratuito</li>
      </ul>
    </div>

    <div class="clear"></div>
  </div>

{% endif %}

  <h3>Gli Sponsor</h3>

  <div class="main_sponsor">
    <h4 class="main">Main</h4>

    <div class="clear"></div>
  </div>

  <div class="gold_sponsors">
    <h4 class="gold">Gold</h4>

    <a class="banner" href="http://www.workwave.com" title="WorkWave">
      <img src="/img/s/s_workwave.jpg" alt="sponsor WorkWave"/>
    </a>

    <div class="clear"></div>
  </div>

  <div class="silver_sponsors">
    <h4 class="silver">Silver</h4>

    <a class="banner" href="http://www.ideato.it/" title="ideato">
      <img src="/img/s/s_ideato.png" alt="sponsor ideato"/>
    </a>

    <div class="clear"></div>
  </div>

  <div class="bronze_sponsors">
    <h4 class="bronze">Bronze</h4>

    <a class="banner" href="http://www.phpbestpractices.it" title="PHP best practices">
      <img src="/img/s/s_phpbestpractices.png" alt="sponsor PHP best practices" width="300" height="120" />
    </a>

    <a class="banner" href="http://www.jsbestpractices.it" title="JS best practices">
      <img src="/img/s/s_jsbestpractices.png" alt="sponsor Js best practices" width="300" height="120" />
    </a>

    <br />

    <a class="banner" href="http://www.phpday.it" title="phpday">
      <img src="/img/s/s_phpday.png" alt="sponsor phpday" />
    </a>

    <a class="banner" href="http://www.jsday.it" title="jsday">
      <img src="/img/s/s_jsday.png" alt="sponsor jsday" />
    </a>

    <div class="clear"></div>
  </div>

  <h3>Media Partner</h3>
  <div class="bronze_sponsors" id="media-partners" data-tags="{{ site.media_tags }}"></div>

  </div>
  <div class="separator"></div>
</section>
