<a name="programma"></a>
<section class="alpha_24">
    <div class="container group">
        <h3 class="center">Il programma</h3>
        <table id="schedule" border="0" cellspacing="0" cellpadding="0">
            <thead>
            <tr>
                <th>
                    Time
                </th>
                <th>
                    Track 1
                </th>

            </tr>
            </thead>
            <tr class="common_event">
                <td class="time">09:00 &ndash&ndash; 09:30</td>
                <td><h4><a href="#" title="">Check-in</a></h4></td>
            </tr>

            <tr class="common_event">
                <td class="time">09:30 &ndash&ndash; 09:40</td>
                <td>
                    <h4><a href="#" title="">Introduzione GrUSP</a></h4>
                    <a href="http://twitter.com/grusp" title="">GrUSP - @grusp</a><br/>
                </td>
            </tr>

            <tr class="common_event">
                <td class="time">09:40 &ndash&ndash; 09:50</td>
                <td>
                    <h4><a href="#" title="">Presentazione Kiratech e Container Day</a></h4>
                    <a href="http://twitter.com/bizzam" title="">Marco Bizzantino - @bizzam</a><br/>
                </td>
            </tr>

            <tr class="common_event">
                <td class="time">09:50 &ndash; 10:35</td>
                <td>
                    <h4><a href="#" onclick="javascript:return(false);" rel="tooltip"
                           title="">GitlabCI e Kubernetes, build test and deploy your projects like a pro</a></h4>
                    <a href="http://twitter.com/paolomainardi" title="Paolo Mainardi">Paolo Mainardi - @paolomainardi</a><br/>
                    <!-- <a href="#" title="" class="slides">Slide</a> - -->
                    <!-- <a href="https://vimeo.com/" title="" class="videos">Video</a> -->
                </td>
            </tr>

            <tr class="common_event">
                <td class="time">10:35 &ndash; 11:05</td>
                <td>
                    <h4><a href="#" onclick="javascript:return(false);" rel="tooltip"
                           title="">
                        Deep dive into container orchestrator options on Azure</a></h4>
                    <a href="http://twitter.com/nicktrog" title="Nick Trogh">Nick Trogh - @nicktrog</a><br/>
                    <!-- <a href="#" title="" class="slides">Slide</a> - -->
                    <!-- <a href="https://vimeo.com/" title="" class="videos">Video</a> -->
                </td>
            </tr>

            <tr class="break">
                <td class="time">11:05 &ndash; 11:20</td>
                <td>
                    <h4><strong>Pausa</strong></h4>
                </td>
            </tr>

            <tr class="common_event">
                <td class="time">11:20 &ndash; 12:05</td>
                <td>
                    <h4><a href="#" onclick="javascript:return(false);" rel="tooltip"
                           title="">
                        Deep Dive to Amazon ECS</a></h4>
                    <a href="http://twitter.com/LatellaPaolo" title="Paolo Latella">Paolo Latella - @LatellaPaolo</a><br/>
                    <!-- <a href="#" title="" class="slides">Slide</a> - -->
                    <!-- <a href="https://vimeo.com/" title="" class="videos">Video</a> -->
                </td>
            </tr>


            <tr class="common_event">
                <td class="time">12:05 &ndash; 12:35</td>
                <td>
                    <h4><a href="#" onclick="javascript:return(false);" rel="tooltip"
                           title="">
                        A Network Virtualization Overlay Solution using EVPN</a></h4>
                    <a href="http://twitter.com/gaunilone" title="Michele Finelli">Michele Finelli - @gaunilone</a><br/>
                    <!-- <a href="#" title="" class="slides">Slide</a> - -->
                    <!-- <a href="https://vimeo.com/" title="" class="videos">Video</a> -->
                </td>
            </tr>

            <tr class="break lunch">
                <td class="time">12:35 &ndash; 14:20</td>

                <td><h4><strong>Pranzo</strong></h4></td>
            </tr>

            <tr class="common_event">
                <td class="time">14:20 &ndash; 14:50</td>
                <td>
                    <h4><a href="#" onclick="javascript:return(false);" rel="tooltip"
                           title="">
                        Images, Containers and VMs: put them into a blender</a>
                    </h4>
                    <a href="http://twitter.com/mreferre" title="Massimo Re Ferre">Massimo Re Ferre - @mreferre</a><br/>
                    <!-- <a href="#" title="" class="slides">Slide</a> - -->
                    <!-- <a href="https://vimeo.com/" title="" class="videos">Video</a> -->
                </td>
            </tr>

            <tr class="common_event">
                <td class="time">14:50 &ndash; 15:35</td>
                <td>
                    <h4><a href="#" onclick="javascript:return(false);" rel="tooltip"
                           title="">
                        Practical Docker Security</a></h4>
                    <a href="http://twitter.com/fntlnz" title="Lorenzo Fontana">Lorenzo Fontana - @fntlnz</a><br/>
                    <!-- <a href="#" title="" class="slides">Slide</a> - -->
                    <!-- <a href="https://vimeo.com/" title="" class="videos">Video</a> -->
                </td>
            </tr>

            <tr class="common_event">
                <td class="time">15:35 &ndash; 16:20</td>
                <td>
                    <h4><a href="#" onclick="javascript:return(false);" rel="tooltip"
                           title="">
                        Clustering con Docker Swarm</a></h4>
                    <a href="http://twitter.com/_hilbert_" title="Andrea Tosatto">Andrea Tosatto - @_hilbert_</a><br/>
                    <!-- <a href="#" title="" class="slides">Slide</a> - -->
                    <!-- <a href="https://vimeo.com/" title="" class="videos">Video</a> -->
                </td>
            </tr>


            <tr class="break">
                <td class="time">16:20 &ndash; 16:35</td>
                <td>
                    <h4><strong>Pausa</strong></h4>
                </td>
            </tr>


            <tr class="common_event">
                <td class="time">16:35 &ndash; 17:20</td>
                <td>
                    <h4><a href="#" onclick="javascript:return(false);" rel="tooltip"
                           title="">
                        Overlay network - multi docker host networking</a></h4>
                    <a href="http://twitter.com/tranchitellad" title="Dario Tranchitella">Dario Tranchitella - @tranchitellad</a><br/>
                    <!-- <a href="#" title="" class="slides">Slide</a> - -->
                    <!-- <a href="https://vimeo.com/" title="" class="videos">Video</a> -->

                </td>
            </tr>


            <tr class="common_event">
                <td class="time">17:20 &ndash; 17:50</td>
                <td>
                    <h4><a href="#" onclick="javascript:return(false);" rel="tooltip"
                           title="">
                        Isoliamo un Processo senza Container</a></h4>
                    <a href="http://twitter.com/paolopstonin" title="Paolo Tonin">Paolo Tonin - @paolopstonin</a><br/>
                    <!-- <a href="#" title="" class="slides">Slide</a> - -->
                    <!-- <a href="https://vimeo.com/" title="" class="videos">Video</a> -->

                </td>
            </tr>

            <tr class="common_event">
                <td class="time">17:50 &ndash; 18:00</td>
                <td><h4><a href="#" title="" onclick="javascript:return(false);">CIAO dal GrUSP</a></h4></td>
            </tr>

            <tr class="common_event">
                <td class="time">18:00 &ndash; 19:00</td>
                <td><h4><a href="#" title="" onclick="javascript:return(false);">Aperitivo auto-gestito</a></h4></td>
            </tr>

            <tr class="common_event">
                <td class="time">19:00 &ndash; 21:00</td>
                <td><h4><a href="#" title="" onclick="javascript:return(false);">DOCKER MEETUP VERONA - max 40 persone</a></h4></td>
            </tr>

            <tr class="common_event">
                <td class="time">21:00 &ndash; notte fonda</td>
                <td><h4><a href="#" title="" onclick="javascript:return(false);">Pizza tutti insieme</a></h4></td>
            </tr>
        </table>

    </div>

    <div class="separator"></div>
</section>
