<a name="info"></a>
<section class="alpha_24">
    <div class="container group">

        <div class="column_6 centered">
            <h3 class="center">La conferenza</h3>

            <p>
                La virtualizzazione basata sul concetto di Container è una delle tecnologie di cloud computing più interessanti del momento. <br>
                Sta alimentando innovazione e cambiamenti su come le applicazioni, e le relative infrastrutture, sono oggi sviluppate fatte scalare. <br>
                È difficile nominare qualsiasi azienda tecnologica che non stia investendo in questo genere di tecnologia in un modo o nell'altro.<br>

                Il Container Day 2017 è interamente focalizzato sulle tecnologie che favoriscono questo nuovo approccio al lavoro,
                durante l'evento non si tratterà solo di
                <a href="http://www.docker.com" target="_blank">Docker</a> ma anche di tutte le altre piattaforme che si stanno affacciando
                sul mercato della contenerizzazione come <a href="https://linuxcontainers.org/lxc/introduction/">LXC</a>,
                <a href="https://linuxcontainers.org/lxd/introduction/">LXD</a>, <a href="https://coreos.com/rkt/">RKT</a> ed alle piattaforme
                che ne permettono l'orchestrazione e la gestione come Amazon ECS, Azure Container Service, Kubernetes, etc.
            </p>

            <p>
                La conferenza sarà divisa in due momenti:
            <ul>
                <li>
                    <strong>27 Aprile</strong>: workshop tenuto da trainer Kiratech.
                    {% if page.workshop %}.
                        <a href="#workshop">Vedi il programma</a>.
                    {% endif %}
                </li>
                <li><strong>28 Aprile</strong>: conferenza con argomenti di livello medio/avanzato</li>
            </ul>
            </p>

            <p>
                La conferenza è organizzata dal <a href="http://www.grusp.org">GrUSP</a>
                e da <a href="http://www.kiratech.it">Kiratech</a>
            </p>

            <p>
                Per rimanere informato <a href="http://eepurl.com/rCZZT" target="_blank">iscriviti alla nostra
                newsletter</a>.
            </p>
        </div>


        <div class="clear"></div>
    </div>
    <div class="separator"></div>
</section>
