<a name="programma"></a>
<section class="alpha_24">
    <div class="container group">
        <h3 class="center">Il programma</h3>
        <table id="schedule" border="0" cellspacing="0" cellpadding="0">
            <thead>
            <tr>
                <th>
                    Time
                </th>
                <th>
                    Track 1
                </th>

            </tr>
            </thead>
            <tr class="common_event">
                <td class="time">09:00 &ndash; 09:30</td>
                <td><h4><a href="#" title="">Check-in</a></h4></td>
            </tr>

            <tr class="common_event">
                <td class="time">09:30 &ndash; 09:40</td>
                <td>
                    <h4><a href="#" title="">Introduzione GrUSP</a></h4>
                    <a href="http://twitter.com/grusp" title="">GrUSP - @grusp</a><br/>
                </td>
            </tr>

            <tr class="common_event">
                <td class="time">09:40 &ndash; 09:50</td>
                <td>
                    <h4><a href="#" title="">Presentazione Kiratech e Container Day</a></h4>
                    <a href="http://twitter.com/bizzam" title="">Marco Bizzantino - @bizzam</a><br/>
                </td>
            </tr>

            <tr class="common_event">
                <td class="time">09:50 &ndash; 10:35</td>
                <td>
                    <h4><a href="#" onclick="javascript:return(false);" rel="tooltip"
                           title="In questo talk vedremo come integrare GitlabCI e Kubernetes, quali sono i benefici, i pitfall da tenere in considerazione ed alcuni esempi ci casi d'uso reale">
                        GitlabCI e Kubernetes, build test and deploy your projects like a pro</a></h4>
                    <a href="http://twitter.com/paolomainardi" title="Paolo Mainardi">Paolo Mainardi - @paolomainardi</a><br/>
                    <!-- <a href="#" title="" class="slides">Slide</a> - -->
                    <!-- <a href="https://vimeo.com/" title="" class="videos">Video</a> -->
                </td>
            </tr>

            <tr class="common_event">
                <td class="time">10:35 &ndash; 11:05</td>
                <td>
                    <h4><a href="#" onclick="javascript:return(false);" rel="tooltip"
                           title="">
                        Deep dive into container orchestrator options on Azure</a></h4>
                    <a href="http://twitter.com/nicktrog" title="Nick Trogh">Nick Trogh - @nicktrog</a><br/>
                    <!-- <a href="#" title="" class="slides">Slide</a> - -->
                    <!-- <a href="https://vimeo.com/" title="" class="videos">Video</a> -->
                </td>
            </tr>

            <tr class="break">
                <td class="time">11:05 &ndash; 11:20</td>
                <td>
                    <h4><strong>Pausa</strong></h4>
                </td>
            </tr>

            <tr class="common_event">
                <td class="time">11:20 &ndash; 12:05</td>
                <td>
                    <h4><a href="#" onclick="javascript:return(false);" rel="tooltip"
                           title="Esploriamo le vere potenzialità del servizio ECS mostrando i pro e i contro del servizio di container management offerto da Amazon Web Services. Mostriamo alcuni casi d’uso, orchestriamo via CLI, monitoriamo i nostri container e analizziamo nel dettaglio i costi">
                        Deep Dive to Amazon ECS</a></h4>
                    <a href="http://twitter.com/LatellaPaolo" title="Paolo Latella">Paolo Latella - @LatellaPaolo</a><br/>
                    <!-- <a href="#" title="" class="slides">Slide</a> - -->
                    <!-- <a href="https://vimeo.com/" title="" class="videos">Video</a> -->
                </td>
            </tr>


            <tr class="common_event">
                <td class="time">12:05 &ndash; 12:35</td>
                <td>
                    <h4><a href="#" onclick="javascript:return(false);" rel="tooltip"
                           title="Si parlerà di una proposta di RFC (https://tools.ietf.org/html/draft-ietf-bess-evpn-overlay-07) che spacca. La presentazione conterrà inoltre alcuni 'rant' relativi al reinventare o scoprire l'acqua calda e perché tutti dovrebbero fare il sistemista tre anni per avere i diritti civili.">
                        A Network Virtualization Overlay Solution using EVPN</a></h4>
                    <a href="http://twitter.com/gaunilone" title="Michele Finelli">Michele Finelli - @gaunilone</a><br/>
                    <!-- <a href="#" title="" class="slides">Slide</a> - -->
                    <!-- <a href="https://vimeo.com/" title="" class="videos">Video</a> -->
                </td>
            </tr>

            <tr class="break lunch">
                <td class="time">12:35 &ndash; 14:20</td>

                <td><h4><strong>Pranzo</strong></h4></td>
            </tr>

            <tr class="common_event">
                <td class="time">14:20 &ndash; 14:50</td>
                <td>
                    <h4><a href="#" onclick="javascript:return(false);" rel="tooltip"
                           title="You take an image and you instantiate a container from it on a VM. Usually. However, in this session, we are going to explore mechanisms that allow you to take apart some of the assumptions and re purpose those building blocks to achieve different scenarios. Scenarios may range from being able to use a standard Docker image as a template for a VM, all the way down to being able to templetize your standard VMs as a Docker images and deploy said VMs with a Docker syntax. If you come out of this session a bit confuse that’s fine: mission accomplished. It’s the price one needs to pay for geeking out a bit. In all seriousness this session is really intended to demonstrate the potential scenarios that can be achieved using Docker and more generally container technologies">
                        Images, Containers and VMs: put them into a blender</a>
                    </h4>
                    <a href="http://twitter.com/mreferre" title="Massimo Re Ferre">Massimo Re Ferre - @mreferre</a><br/>
                    <!-- <a href="#" title="" class="slides">Slide</a> - -->
                    <!-- <a href="https://vimeo.com/" title="" class="videos">Video</a> -->
                </td>
            </tr>

            <tr class="common_event">
                <td class="time">14:50 &ndash; 15:35</td>
                <td>
                    <h4><a href="#" onclick="javascript:return(false);" rel="tooltip"
                           title="">
                        Moby and LinuxKit, what to expect</a></h4>
                    <a href="http://twitter.com/fntlnz" title="Lorenzo Fontana">Lorenzo Fontana - @fntlnz</a><br/>
                    <!-- <a href="#" title="" class="slides">Slide</a> - -->
                    <!-- <a href="https://vimeo.com/" title="" class="videos">Video</a> -->
                </td>
            </tr>

            <tr class="common_event">
                <td class="time">15:35 &ndash; 16:20</td>
                <td>
                    <h4><a href="#" onclick="javascript:return(false);" rel="tooltip"
                           title="Kubernetes is a well know containers management system intially developed by Google and inspired by Borg, the Google internal cluster management system. Since its donation to the CloudNativeFoundation, the Kubernetes project as seen many different attempts of extension of the standard containers management APIs to support, as Borg, different kind of workloads including VMs. In this talk we will present and discuss the result of these community effort and how Kubernetes can be used to schedule VMs becoming a fexible application orchestration tool beyond containers.">
                        Kubernetes, beyond containers</a></h4>
                    <a href="http://twitter.com/_hilbert_" title="Andrea Tosatto">Andrea Tosatto - @_hilbert_</a><br/>
                    <!-- <a href="#" title="" class="slides">Slide</a> - -->
                    <!-- <a href="https://vimeo.com/" title="" class="videos">Video</a> -->
                </td>
            </tr>


            <tr class="break">
                <td class="time">16:20 &ndash; 16:35</td>
                <td>
                    <h4><strong>Pausa</strong></h4>
                </td>
            </tr>


            <tr class="common_event">
                <td class="time">16:35 &ndash; 17:20</td>
                <td>
                    <h4><a href="#" onclick="javascript:return(false);" rel="tooltip"
                           title="Un breve case study su come abbiamo ottenuto tramite DC/OS un'infrastruttura con zero downtime (sic), high-availability e logiche di Software as a Service con tutti i problemi del caso (wildcards domain, SSL certs, persistenza del database)">
                        Starteed: starting a PHP based SaaS on Mesosphere's DC/OS</a></h4>
                    <a href="http://twitter.com/tranchitellad" title="Dario Tranchitella">Dario Tranchitella - @tranchitellad</a><br/>
                    <!-- <a href="#" title="" class="slides">Slide</a> - -->
                    <!-- <a href="https://vimeo.com/" title="" class="videos">Video</a> -->

                </td>
            </tr>


            <tr class="common_event">
                <td class="time">17:20 &ndash; 17:50</td>
                <td>
                    <h4><a href="#" onclick="javascript:return(false);" rel="tooltip"
                           title="Docker si propone come uno strumento comodo e utile per semplificare la gestione dell'infrastruttura di applicazioni e servizi. A causa della eccessiva rapidità di sviluppo e di alcune scelte architetturali, lo hanno reso uno strumento non adatto a tutti gli utilizzi. Nei casi reali introduce notevole complessità, alle volte non giustificata, poichè spinge all'utilizzo di tutta una serie di strumenti aggiuntivi non compresi all'interno di Docker per gestire l'infrastruttura. Nel talk esploreremo pro e contro di alcuni scenari di utilizzo e sfateremo anche qualche mito legato all'hype e alle 'mode' del momento su questi temi.">
                        Boycott Docker</a></h4>
                    <a href="http://twitter.com/paolopstonin" title="Paolo Tonin">Paolo Tonin - @paolopstonin</a><br/>
                    <!-- <a href="#" title="" class="slides">Slide</a> - -->
                    <!-- <a href="https://vimeo.com/" title="" class="videos">Video</a> -->

                </td>
            </tr>

            <tr class="common_event">
                <td class="time">17:50 &ndash; 18:00</td>
                <td><h4><a href="#" title="" onclick="javascript:return(false);">CIAO dal GrUSP</a></h4></td>
            </tr>

        </table>

        <div class="link center">
            <a href="#tickets" title="">Registrati</a>
        </div>
    </div>

    <div class="separator"></div>
</section>
